[submodule "framework"]
	path = framework
	url = https://github.com/livestreet/livestreet-framework.git
[submodule "application/plugins/admin"]
	path = application/plugins/admin
	url = https://olezhikz:GfhjkmLkzGithub2017@github.com/olezhikz/lsplugin-admin
[submodule "application/plugins/ad"]
	path = application/plugins/ad
	url = https://olezhikz@github.com/olezhikz/livestreet-ad
